@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1694871449421') format('woff2'),
       url('iconfont.woff?t=1694871449421') format('woff'),
       url('iconfont.ttf?t=1694871449421') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e6c6";
}

.icon-info:before {
  content: "\e681";
}

.icon-warning:before {
  content: "\e63f";
}

.icon-color-success:before {
  content: "\e601";
}

